/node_modules
/bower_components
/bundle
/keys
/thisgit
/pubgit
*.csv

/libs/z_cryptolib.js
/libs/z_private_keys.js
/libs/voting.js

/assets
/scripts
/sql
/cryptolib.js
/frontend.js
/index.html
/login.html
/test.html

#